@charset "UTF-8";

/*Declarações Gerais*/
@media all {
    * {
        margin: 0px;
        padding: 0px;
    }
    
    html, body {
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #233eff;
    }
    
    h1 {
        color: white;
        text-shadow: 3px 3px 0px #1526a2;
        padding: 10px;
    }
}
/*Declarações Retrato*/
@media screen and (orientation: portrait) {
    body {
    background-image: url('../imagens/cev-portrait.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
}
/*Declarações Paisagem*/
@media screen and (orientation: landscape) {
    body {
    background-image: url('../imagens/cev-landscape.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}
}
