@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device brekpoints
----------------------------
Pequenas Telas: até 600px
Celulares: 600px Até 768px
Tablets: 769px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px 
*/

@media print { /* IMPRESSÃO */
    body {
        background-image: url(../imagens/back-print.jpg); /* Desnecessário (Não aparece) */
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: 'Essa impressão foi feita através do site www.natanalexandre.github.io/media-queries/mq004/index.html';
        text-decoration: underline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLETS */
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOPS */
    body {
        background-image: url(../imagens/back-pc.jpg)
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
}